<div class="sign-in-jumbotron">
    <div id="user-info" class="jumbotron jumbotron-fluid jumbotron-landing-page">
        <div class="index-container text-center sign-in-container">
            {{#with welcome}}
            <h1 class="index-title pt-4 mb-4">Welcome {{first_name}} !</h1>
            <span class="text-secondary" id="dashboard-username" name="username">{{username}} </span>
            {{/with}}
            <div class="text-center">
                <button class="btn btn-info btn-lg d-inline my-4 mr-2" id="viewButton">View Current Projects</button>
                <a href="/projects">
                    <button class="btn btn-info btn-lg d-inline my-4 ml-2" id="createButton">Create New Project</button>
                </a>
            </div>
        </div>
    </div>
</div>


{{!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> --}}
<script src="/js/dashboard.js"></script>